process.scratch = true
conda.enabled = true
nextflow.enable.moduleBinaries = true

params {
    fastq_r1 = null
    fastq_r2 = null
    prefix = null
    fasta = null
    aligned_file = null
}

// Process specific settings
process {
    withLabel: 'fastp' {
        container = 'staphb/fastp:latest'
        memory = '120 GB'
        cpus = 40
    }
    
    withLabel: 'samtools' {
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
        memory = '120 GB'
        cpus = 40
    }
    
    withLabel: 'picard' {
        container = 'broadinstitute/picard:latest'
        memory = '120 GB'
        cpus = 40
    }
    
    withLabel: 'multiqc' {
        container = 'ewels/multiqc:latest'
        memory = '120 GB'
        cpus = 40
    }
}

// Execution settings
executor {
    $local {
        cpus = 4
        memory = '100 GB'
    }
}

// Report settings
report {
    enabled = true
    overwrite = true
    file = 'pipeline_report.html'
}

// Timeline settings
timeline {
    enabled = true
    overwrite = true
    file = 'timeline_report.html'
}

// Trace settings
trace {
    enabled = true
    overwrite = true
    file = 'trace.txt'
}

// Docker settings
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
    fixOwnership = true
} 