trace.overwrite = true
report.overwrite = true
timeline.overwrite = true

// Process specific settings
process {
    withLabel: 'fastp' {
        container = 'staphb/fastp:latest'
        memory = '4 GB'
        cpus = 1
    }
    
    withLabel: 'samtools' {
        container = 'staphb/samtools:latest'
        memory = '8 GB'
        cpus = 1
    }
    
    withLabel: 'picard' {
        container = 'broadinstitute/picard:latest'
        memory = '100 GB'
        cpus = 1
    }
    
    withLabel: 'multiqc' {
        container = 'ewels/multiqc:latest'
        memory = '4 GB'
        cpus = 1
    }
}

// Execution settings
executor {
    $local {
        cpus = 4
        memory = '100 GB'
    }
}

// Report settings
report {
    enabled = true
    file = 'pipeline_report.html'
}

// Timeline settings
timeline {
    enabled = true
    file = 'timeline_report.html'
}

// Trace settings
trace {
    enabled = true
    file = 'trace.txt'
}

// Docker settings
docker {
    enabled = true
    fixOwnership = true
} 